.panel {
    padding: 5px;
    margin-top: 10px;
    padding-left: 10px;
    text-align: center;
}

label {
    font-weight: bold;
    color: #696969;
}

hr {
    opacity: 0;
}

b {
    color: dimgrey;
}

select#projectColor {
    -webkit-appearance: button;
    -webkit-border-radius: 2px;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-padding-end: 20px;
    -webkit-padding-start: 2px;
    -webkit-user-select: none;
    background-image: url(../../assets/images/down_arrow.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
    background-position: 97% center;
    background-repeat: no-repeat;
    border: 1px solid #AAA;
    color: #555;
    font-size: inherit;
    padding: 7px 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 300px;
    float: left
}

#sample-button {
    margin: 0;
    color: rgba(255, 255, 255, .84);
    float: left;
    margin-left: 20px;
}
