<div class="row">
    <div class="col-xs-12">
        <div class="container-fluid">
            <div class="panel">
                <h3><em>{{platformName}}</em> Demo</h3>
            </div>
        </div>
    </div>
</div>
<div class="row row-eq-height" style="position: relative; height: 100%">
    <div class="col-xs-5" style="text-align: right">
        <div class="container-fluid">
            <img src="{{ANGULAR_LOGO_URL}}" class="img logo-large"/>
        </div>
    </div>
    <div class="col-xs-2 plus-container">
        <div class="parent">
            <div class="child">
                <span class="glyphicon glyphicon-plus"></span>
            </div>
        </div>
    </div>
    <div class="col-xs-5">
        <div class="container-fluid">
        </div>
        <img src="{{FIREBASE_LOGO_URL}}" class="img logo-large"/>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="container-fluid">
            <div class="panel">
                <button class="btn btn-danger btn-raised" (click)="navigateTo('generate')">Get Started</button>
                <br>
                <b>Made with ♥ by The Team Formerly Known as 7331</b>
                <p>This website is a demonstration of a subset of the capabilities of the <em>{{platformName}}</em> platform. It showcases the process an end user would go through in order to populate and download a template.</p>
                <p>Version 2017.11.10</p>
            </div>
        </div>
    </div>
</div>
