.panel {
    padding: 5px;
    margin-top: 10px;
    padding-left: 10px;
    text-align: center;
}

.logo-large {
    padding: 10%;
    /*display: block;*/
    margin: auto;
    height: 30vw;
    /*position: relative;*/
}

span.glyphicon-plus {
    font-size: 10vw;
    display: block;
    margin: auto;
}

.plus-container {
    text-align: center;
}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
}

.parent {
    width: 100%;
    height: 100%;
    display: table;
    text-align: center;
}
.parent > .child {
    display: table-cell;
    vertical-align: middle;
}

/*.col-xs-5ths,*/
/*.col-sm-5ths,*/
/*.col-md-5ths,*/
/*.col-lg-5ths {*/
    /*position: relative;*/
    /*min-height: 1px;*/
    /*padding-right: 15px;*/
    /*padding-left: 15px;*/
/*}*/

/*.col-xs-5ths {*/
    /*width: 20%;*/
    /*float: left;*/
/*}*/

/*@media (min-width: 768px) {*/
    /*.col-sm-5ths {*/
        /*width: 20%;*/
        /*float: left;*/
    /*}*/
/*}*/

/*@media (min-width: 992px) {*/
    /*.col-md-5ths {*/
        /*width: 20%;*/
        /*float: left;*/
    /*}*/
/*}*/

/*@media (min-width: 1200px) {*/
    /*.col-lg-5ths {*/
        /*width: 20%;*/
        /*float: left;*/
    /*}*/
/*}*/
